{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}World News{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.date {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div align="center" class="nav-item">
            <form class="form-inline my-2 my-lg-0" action="{% url 'home' %}" method="get">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="date"> {% now "SHORT_DATETIME_FORMAT" %} </div>
    <div class="center">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.jpg' %}"  width="500" height="40">
        </a>
    </div>

    <div>
    {% if user.is_authenticated %}
        Welcome {{ user.first_name }}
        <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-warning">Log out</button></a>
    {% else %}
            <a href="{% url 'account_login' %}"><button type="button" class="btn btn-lg btn-primary" >Login</button><a>
            <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-secondary btn-lg" >Sign Up</button><a>
    {% endif %}
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                    {% for category in categories_list %}
                    <li>
                        <a href="{% url 'categories_reports' category.slug %}" class="nav-link" href="">{{ category.name }}</a>
                    </li>
                {% endfor %}            
        </ul>
    </div>
  </nav>
</header>
<body>
  <div class="container">
    <ul class="list-unstyled">
      <li class="media">
      {% for report in report_list %}
        <img src="{{ report.cover.url }}" class="mr-3" alt="{{report.title}}">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{report.title}}</h5>
          {{report.author}}
        </div>
        {% endfor %}
      </li>
    </ul> 
  </div>
{% block javascript %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock javascript %}
</body>
