{% extends '_base.html' %}
{% load static %}
{% block title %}{{report.title}}{% endblock title %}

{% block content %}
<br><br><br>
<h1>{{report.title}}</h1>
<br><br>
 <main role="main" class="container">
    <img src="{{ report.image.url }}" class="mr-3" alt="{{ report.title }}" width="900" height="400">
    <br><br>
    <p class="lead"> By : {{ report.author }} Created in {{ report.date }}</p>
    <a href="{% url 'delete_report' report.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    <a href="{% url 'update_report' report.pk %}"><button type="button" class="btn btn-warning">Update</button></a>
    </main>

    <div>{{report.body}}</div>
{% endblock content %}
  